In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib qt5

In [2]:
import numpy as np
import pickle
import psycopg2 as pg

In [3]:
con = None
con = pg.connect(database='exp21bp000', user='postgres', password='postgres')
con.autocommit=True
cur = con.cursor()
cur.execute("""SELECT * FROM growth""")
data = cur.fetchall()
con = None

In [4]:
len(data)

37800

In [11]:
data_sorted = sorted(data, key = lambda element: element[0])

In [17]:
for datapoint in data_sorted:
    if datapoint[2] == 2 and datapoint[3] == 1:
        print(datapoint[0], datapoint[2], datapoint[3], datapoint[4])

1421 2 1 0
1423 2 1 1
1426 2 1 2
1428 2 1 3
1430 2 1 4
1432 2 1 5
1434 2 1 6
1436 2 1 7
1438 2 1 8
1440 2 1 9
1442 2 1 10
1444 2 1 11
1446 2 1 12
1448 2 1 13
1450 2 1 14
1454 2 1 15
1457 2 1 16
1459 2 1 17
1463 2 1 18
1465 2 1 19
1469 2 1 20
1471 2 1 21
1474 2 1 22
1478 2 1 23
1480 2 1 24
1483 2 1 25
1486 2 1 26
1490 2 1 27
1492 2 1 28
1495 2 1 29
1498 2 1 30
1501 2 1 31
1504 2 1 32
1507 2 1 33
1510 2 1 34
1513 2 1 35
1516 2 1 36
1520 2 1 37
1523 2 1 38
1526 2 1 39
1528 2 1 40
1531 2 1 41
1534 2 1 42
1537 2 1 43
1541 2 1 44
1543 2 1 45
1547 2 1 46
1549 2 1 47
1553 2 1 48
1555 2 1 49
1558 2 1 50
1560 2 1 51
1562 2 1 52
1564 2 1 53
1566 2 1 54
1568 2 1 55
1571 2 1 56
1576 2 1 57
1577 2 1 58
1579 2 1 59
1581 2 1 60
1583 2 1 61
1587 2 1 62
1594 2 1 63
1601 2 1 64
1603 2 1 65
1606 2 1 66
1608 2 1 67
1610 2 1 68
1612 2 1 69
1614 2 1 70
1616 2 1 71
1618 2 1 72
1620 2 1 73
1622 2 1 74
1624 2 1 75
1626 2 1 76
1628 2 1 77
1630 2 1 78
1632 2 1 79
1635 2 1 80
1637 2 1 81
1640 2 1 82
1643 2 1 83
1646 2 1 84
1649 2 1 85
1652 2 1 86
1655 2 1 87
1657 2 1 88
1659 2 1 89
1660 2 1 90
1661 2 1 91
1662 2 1 92
1663 2 1 93
1664 2 1 94
1671 2 1 95
1672 2 1 96
1673 2 1 97
1674 2 1 98
1675 2 1 99
1676 2 1 100
1677 2 1 101
1678 2 1 102
1679 2 1 103
1680 2 1 104

In [ ]:
data[0]